<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">image</th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">count</th>
    </tr>
  </thead>
  <tbody>
      {{#each data }}
    <tr>
      <th scope="row">1</th>
      <td><img src="{{this.image}}" width="100"</td>
      <td>{{this.title}}</td>
      <td>{{this.descript}}</td>
      <td> <button onclick= "myFunction('{{this._id}}','{{this.count}}','plus',this)" >+</button> 
      {{this.count}} 
       <button onclick= "myFunction('{{this._id}}','{{this.count}}','minus',this)">-</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<a href="/detail/total"> thanh toan</a>

<form name="form-plus" method="POST">
</form>

<script>
  let formm = document.forms['form-plus'];
function myFunction(id,count,flag,object) {
   formm.action = '/detail/'+id;
   let input = document.createElement('input');
    input.type = "text";
    input.name = 'count';
    input.value = count;
    input.style.display="none";
    formm.appendChild(input);
     let input2 = document.createElement('input');
    input2.type = "text";
    input2.name = 'flag';
    input2.value = flag;
    input2.style.display="none";
    formm.appendChild(input2);
   formm.submit();
   
}
</script>