<div class="row">


{{#each shows}}

<div class="col-sm-6 col-lg-4">
    <div class="card" style="width: 18rem;">
 <a href="detail/{{this.slug}}">
    <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
 </a>
  <div class="card-body">
    <a href="detail/{{this.slug}}">
      <h5 class="card-title">{{this.title}}</h5>
    </a>
    <p class="card-text">{{this.text}}</p>
  </div>
</div>
</div>
{{/each}}
</div>
